h1 {
  background-color: #f1f1f1;
  font-style: italic;
  text-align: center;
}

body {
  background: #f1f1f1;
}

.movie-list-entry {
  border-radius: 1px;
  border-style: ridge;
  background: #f1f1f1;
  padding: 300px
  border: 1px solid black;
  margin: 10px 30% 10px 30%;
}

.movie-name {
  padding: 20px;
}