h1 {
  background: orange;
  font-style: italic;
  text-align: center;
}

body {
  background: orange;
}

.navbar {
  background: orange;
  margin-bottom: 20px;
}

.search-bar {
  border-radius: 1px;
  background: orange;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%

}

.movie-list-entry {
  border-radius: 1px;
  border-style: ridge;
  background: #f1f1f1;
  padding: 300px
  border: 1px solid black;
  margin: 10px 30% 10px 30%;
}

.movie-name {
  padding: 20px;
  background-color: yellow;
}

.addBtn {
  background-color: lightgreen;
}

.searchBtn {
  background-color: lightblue;
}